/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 20px solid #e44d26;
}

.footer-container,
.main aside {
    border-top: 20px solid #e44d26;
}

.header-container,
.footer-container,
.main aside {
    background: #f16529;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/**************NAVBAR*****************/

nav {
    color: #f4f4f4;
}

nav li a{
    color: #f4f4f4;
    font-family: 'Fredoka One', cursive;
}


.navbar-light {
    display:block;
    background-color: #735749 ;
    width:100%;
    z-index: 100;
}

.navbar-light ul{
    font-size: 2em;
    text-align: center;
}

.navbar-light ul a{
    margin:10px;
}

.nav_grande {
    text-align: right;
    padding:15px 25px;
    background-color: #735749 ;
    height:60px;
    display:none;
    width:100%;
    z-index: 100;
}

.nav_grande ul a{
    margin-left:5px;
    font-size: 1.0em;
}


/***************HEADER*******************/

header{
    background-image: url(../img/P1050372.JPG);
    background-size:cover;
    height:600px;
}

#logos {
    height:300px;
    background-color: rgba(80, 57, 53, 0.6);
    width:100%;
}

/*RAISEAU SOCIAUX*/

.sociaux_haut{
    display:none;
    position:relative;
    float: right;
    top:30px;
    right:40px;
}

.sociaux_haut a{
    color:#f4f4f4;
    margin:15px;
}



/***************FOOTER*******************/


footer{
    background-color: rgba(210, 180, 180, 0.5);
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .navbar-light{
        display:none;
    }

    .nav_grande {
        display:block;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .sociaux_haut{
        display:block;
    }
    
}




@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    /***************HEADER****************/

    /*NAVBAR*/
    .nav_grande{

    }

    .nav_grande ul a{
        margin-left:40px;
        font-size: 1.3em;
    }
}
