

body {
    background: linear-gradient(to right, rgb(250, 230, 230), #e5e5e5);
    color: #735749;
    font-family: 'Laila' ,sans-serif;
    font-size: 14px;
}

h1 {
    font-family: "Days One" ,sans-serif;
    font-size: 60px;
    color:#f4f4f4;
    margin-bottom: 0px;
}


h2 {
    font-size: 30px;
    color:#f4f4f4;
}

h3 {
    font-family: "Baloo Tamma" ,sans-serif;
}
/**************NAVBAR*****************/

nav {
    color: #f4f4f4;
}

nav li a {
    font-family: "Baloo Tamma" ,sans-serif;
    color: #f4f4f4;
    animation-name: navItemMoveBack;
    animation-duration: 0.5s;
}
@keyframes navItemMoveBack {
    from {
        color: #4b87a0;
    }
    to {
        color: #f4f4f4
    }
}
nav li a:hover {
    color: #4b87a0;
    animation-name: navItemMove;
    animation-duration: 0.5s;
}
@keyframes navItemMove {
    from {
        color: #f4f4f4;
    }
    to {
        color: #4b87a0
    }
}
.navbar-css {
    display: block;
    background: linear-gradient(to right, #735749, #8f6f5b);
    width: 100%;
    z-index: 100;
}
.navbar-css ul {
    font-size: 2em;
    text-align: center;
}
.navbar-css ul a {
    margin: 10px;
}
.nav_grande {
    text-align: center;
    padding: 15px 20px;
    background: linear-gradient(to right, #735749, #8f6f5b);
    height: 60px;
    display: none;
    width: 100%;
    z-index: 100;
    box-shadow: 10px 0px 40px 10px rgba(20, 20, 20, 0.2);
}
.nav_grande ul a {
    margin-left: 5px;
    font-size: 1.0em;
}
.nav-sticky {
    position: fixed;
}

/***************HEADER*******************/

header {
    background-image: url(../img/background/Background_Michel_1.JPG);
    background-size: cover;
    background-position: bottom;
    height:540px;
    box-shadow: inset 0px 10px 50px rgba(80, 57, 53, 0.3);
    box-shadow: 0px 0px 10px 5px rgba(80, 57, 53, 0.2);

}
#logos {
    height: 300px;
    background-color: rgba(80, 57, 53, 0.6);
    width: 100%;
}

#titre_page{
    padding-top: 50px;
    text-align: center;
}

/*RAISEAU SOCIAUX*/

.sociaux_haut {
    display: none;
    position: relative;
    float: right;
    top: 90px;
    right: 40px;
}
.sociaux_haut a {
    color: #f4f4f4;
    margin: 15px;
}

/**********************************************
                  CORPS_DE_TEXTE
***********************************************/

.container {
    padding: 0 30px;
}

/*==========================================================================
CONTACT  page for michelcarton's website
========================================================================== */

.btn-primary {
    background-color: #735749;
}
hr {
    color: #735749;
    width: 100%;
    height: 10px;
}
.legeng {
    color: #735749;
    font-size: 27px;
    padding: 10px;
}
.bigicon {
    color: #735749;
    font-size: 35px;
}
.row {
    width: 100%;
    height: 100%;
}

/*==========================================================================
INSCRIPTION  page for michelcarton's website
========================================================================== */


.button-inscrit {
    background-color: #fff;
    font-weight: bolder;
    font-style: italic;
}
h4{
    font-family: "Days One" ,sans-serif;
  font-weight: bolder;
    text-decoration: underline;
}
}
h5 {
    font-family: "Days One" ,sans-serif;
    font-style: italic;
}
.atelier {
    background-color: white;
    background: linear-gradient(to right, #E8E5E5, white);
    border: 2px dotted #816352;
}

/*****************************************
                PAGE ACCEUIL
******************************************/
.journal {
    margin:100px 0px;
}

.journal .titre_section{
    font-size: 35px;
    font-weight: bold;
    margin: 8px 0;
    padding: 0 0 10px;
    border-bottom: 3px solid #735749;
}

.journal .photoProfile{
  width:50px;
  height:50px;
  border-radius: 40px;
  background-color: red;
}

.journal .date_du_post{
    display:flex;
    justify-content: space-between;
}

.journal .journal_corps figure {
    margin: 20px auto;
    width:450px;
    height:320px;
}




/*****************************************
                PAGE GALLERIE
******************************************/

main{
    margin-top:40px ;
    }
.galleryphoto{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom:20px;
    margin-top: 100px;
}

.galleryphoto li{
    list-style: none;
}
main h1{
    color:#735749 ;
    text-align: center;
    text-decoration: underline;
}
/**********************************************
                     FOOTER
**********************************************/



footer{
    background: linear-gradient(to bottom,rgba(210, 180, 180, 0.5), rgba(240, 190, 190, 0.5));
    padding:20px;
    bottom:1.5em;
    width:100%;
    color:#735749;
    box-shadow: inset 0px 5px 30px rgba(90, 50, 50, 0.2);
}

.article_footer_contact {
    margin: 30px 5%;
    width: 90%;
}

.article_footer_apropos {
    font-size: 14px;
    margin: 30px 5%;
    width: 90%;
}
.article_footer_apropos p {
    margin: 30px 20px;
}
.article_footer_prendrecontact {
    margin: 40px 5% 90px;
    width: 90%;
}
.sociaux_bas {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.sociaux_bas {
    margin-left: -20px;
}
.sociaux_bas i {
    color: #735749;
    padding: 0 0 0 10px;
}
footer h3 {
    padding: 10px 0;
    margin: 0 0 20px;
    border-bottom: 3px solid;
    width: 300px;
}
aside {
    text-align: center;
    bottom: 0;
}
.article_footer_contact aside {
    text-align: left;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {


/*********NAVBAR*********/


    .navbar-css {
        display: none;
    }
    .nav_grande {
        display: block;
    }


/*********HEADER*********/

    .journal {
        margin:100px 10px;
    }


/*********PAGE GALLERIE*********/




/*********FOOTER*********/



}
@media only screen and (min-width: 768px) {

    #titre_page{
        text-align: left;
        margin-left: 15%;
    }

    h1{

    }

    h1{

    }


/*********HEADER*********/


    .title {
        float: left;
    }
    nav {
        float: right;
        width: 38%;
    }


    .main article {
        float: left;
        width: 57%;
    }
    .main aside {
        float: right;
        width: 28%;
    }
    .sociaux_haut {
        display: block;
        position:absolute;
    }
    .nav_grande {
        text-align: right;
        font-size: 1.3em;
    }
    /*journal*/



/*journal*/

    .journal_corps{
        display: flex;
    }
    .journal figure {
        width: 50%;
    }
    .journal_corps article {
        padding: 20px;
        width: 50%;
    }
    /*********FOOTER*********/

    .articles_footer {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10%;
    }
    .article_footer_apropos p {
        margin: 40px 0;
    }
    .article_footer_contact {
        width: 50%;
    }
    .article_footer_apropos {
        width: 30%;
    }


    .article_footer_prendrecontact{
        width:100%;
        margin-top: 0px;
        margin-bottom: 10px;
    }

    .article_footer_prendrecontact .sociaux_bas{
        margin-top: 20px;
    }

    footer h3 {
        padding: 10px 0;
        width: 100%;
    }


}
@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        margin: 0 auto;
    }
    /***************HEADER****************/
    /*NAVBAR*/
    /***************FOOTER****************/

    .articles_footer {
        display: flex;
        flex-wrap: nowrap;
        margin: 0 10%;
    }
    .article_footer_apropos p {
        margin: 40px 0;
    }
    .article_footer_contact {
        width: 30%;
    }
    .article_footer_apropos {
        width: 30%;
    }

    .article_footer_prendrecontact{
        width:30%;
        margin-top: 29px;
        margin-bottom: 0px;
    }

    .article_footer_prendrecontact .sociaux_bas{
        margin-top: 35px;
        margin-bottom: 0px;

    }
}
