/* ==========================================================================
   Author's custom styles
   ========================================================================== */




/**************NAVBAR*****************/

nav {
    color: #f4f4f4;
}

nav li a{
    color: #f4f4f4;
    font-family: 'Fredoka One', cursive;
}


.navbar-light {
    display:block;
    background-color: #735749 ;
    width:100%;
    z-index: 100;
}

.navbar-light ul{
    font-size: 2em;
    text-align: center;
}

.navbar-light ul a{
    margin:10px;
}

.nav_grande {
    text-align: center;
    padding:15px 25px;
    background-color: #735749 ;
    height:60px;
    display:none;
    width:100%;
    z-index: 100;
}

.nav_grande ul a{
    margin-left:5px;
    font-size: 1.0em;
}

.article{

}


/***************HEADER*******************/

header{
    background-image: url(../img/P1050381.JPG);
    background-size:cover;
    height:600px;
}

#logos {
    height:300px;
    background-color: rgba(80, 57, 53, 0.4);
    width:100%;
}

/*RAISEAU SOCIAUX*/

.sociaux_haut{
    display:none;
    position:relative;
    float: right;
    top:30px;
    right:40px;
}

.sociaux_haut a{
    color:#f4f4f4;
    margin:15px;
}

/************CORPS_DE_TEXTE**************/



/***************FOOTER*******************/


footer{
    background-color: rgba(210, 180, 180, 0.5);
    padding:20px;
    bottom:1.5em;
    width:100%;
    color:#735749;
}

.article_footer_contact{
    margin:30px 5%;
    width:90%;
}

.article_footer_apropos{
    margin:30px 5%;
    width:90%;
}

.article_footer_apropos p{
    margin:30px 20px;
}

.article_footer_prendrecontact{
    margin:40px 5% 90px;
    width:90%;
}

.sociaux_bas{
    margin:40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer h3{
    border-bottom: 3px solid;
}

aside {
    text-align: center;
    bottom:0;
}

.article_footer_contact aside{
    text-align: left;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */
    .navbar-light{
        display:none;
    }

    .nav_grande {
        display:block;

    }



/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }

    .sociaux_haut{
        display:block;
    }

    .nav_grande{
        text-align: right;
    }

    .articles_footer{
        display:flex;
        margin:0 10%;
    }

    .article_footer_apropos p{
        margin:40px 0;
    }
}




@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

    /***************HEADER****************/

    /*NAVBAR*/
    .nav_grande{
    }

    .nav_grande ul a{
        margin-left:40px;
        font-size: 1.3em;
    }



    .articles_footer{
        margin:0 10%
    }
}
